{% extends 'base.html' %}

{% block content %}
<div class="container mt-5" style="max-width: 700px;">
  <h2 class="mb-4 text-center">Acerca de mí</h2>

  <div class="card p-4 shadow-sm">
    <p>
      ¡Hola! Soy <strong>Franco Venturuzzi</strong>, creador de esta página desarrollada en Django 
      como parte del proyecto.
    </p>

    <p>
      Este sitio tiene como objetivo mostrar el funcionamiento de un blog dinámico con manejo de usuarios, 
      formularios, autenticación, y edición de contenido.  
      Fue realizado aplicando vistas basadas en clases.
    </p>

    <p>
      Me apasiona la tecnología, la programación y la ciberseguridad.  
      Si querés contactarme, podés hacerlo a través de:  
      <a href="mailto:franventuruzzi@hotmail.com">franventuruzzi@hotmail.com</a>
    </p>
  </div>
</div>
{% endblock %}
