{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h1 class="mb-4 text-center">Lista de Páginas</h1>
  {% if page_list %}
    <div class="list-group">
      {% for page in page_list %}
        <a href="{% url 'blogpages:page_detail' page.id %}" class="list-group-item list-group-item-action mb-2">
          <h4>{{ page.title }}</h4>
          <p>{{ page.content|truncatewords:20|safe }}</p>
          <small>Publicado por {{ page.author.username }} el {{ page.published_date|date:"d/m/Y" }}</small>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <p>No hay páginas todavía.</p>
  {% endif %}
  <div class="mt-4">
    {% if user.is_authenticated %}
      <a class="btn btn-success" href="{% url 'blogpages:page_create' %}">Crear nueva página</a>
    {% endif %}
  </div>
</div>
{% endblock %}
